.blog-article .article-hd .article-title {
  font-size: 18px;
  font-weight: bold; }
.blog-article .article-content .content-title {
  display: none; }
.blog-article .article-content p {
  margin: 10px 0;
  text-indent: 2em; }
