.blog-article .article-hd .article-title {
  font-size: 20px;
  font-weight: bold; }
.blog-article .article-content .content-title {
  display: none; }
.blog-article .article-content p {
  margin: 10px 0; }
