.smileherd-blog {
  margin: 0 auto;
  width: 60%;
  color: #404040;
  font: 12px/1.2 georgia, "\5fae\8f6f\96c5\9ed1", serif; }
  .smileherd-blog .blog-hd {
    border-bottom: 1px solid #404040;
    padding: 20px 0;
    font-size: 32px;
    font-weight: bold; }
  .smileherd-blog .blog-article {
    margin: 20px auto;
    line-height: 1.5; }
  .smileherd-blog .blog-ft {
    margin: 20px 0;
    border-top: 1px dotted #404040;
    padding: 10px 0;
    text-align: center; }
