.smileherd-blog {
    margin: 0 auto;

    .blog-article {
        margin: 50px auto;
        width: 60%;
        color: #404040;
        font: 12px/1.5 tahoma, arial, "\5fae\8f6f\96c5\9ed1", sans-serif;
    }
}