<!DOCTYPE html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/compiled/reset.css">
        <link rel="stylesheet" href="/css/compiled/layout.css">
        <link rel="stylesheet" href="/css/compiled/blog-article.css">
        <title>{{ page.title }}</title>
    </head>
    <body class="smileherd-blog">
        <header class="blog-hd">
            <h1 class="blog-title">s.m.i.l.e.h.e.r.d...C.A.R.2.E.R</h1>
        </header>
        {{ content }}
        <footer class="blog-ft">
            <p>by xiaoyi huang &copy; 2012</p>
            <p>smileherd#gmail.com</p>
        </footer>
    </body>
</html>