<!DOCTYPE html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/compiled/reset.css">
        <link rel="stylesheet" href="/css/compiled/layout.css">
        <link rel="stylesheet" href="/css/compiled/post_md_github2.css">
        <!--[if lt IE 9]>
            <script src="/js/html5shiv.js"></script>
        <![endif]-->
        <title>{{ page.title }}</title>
    </head>
    <body class="smileherd-blog">
        <header class="blog-hd">
            <h1 class="blog-title">
                <span class="title-career">C.A.R.2.E.R</span>
            </h1>
        </header>
        <nav class="blog-nav">
            <ul class="nav-list">
                <li class="nav-item home"><a href="/">主页</a></li>
                <li class="nav-item about-me"><a href="/about/">关于我</a></li>
            </ul>
        </nav>
        <div class="blog-post">
            <h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
            <p class="post-date">{{ page.date | date_to_string }}</p>
            {{ content }}
        </div>
        <footer class="blog-ft">
            <p>by xiaoyi huang &copy; 2012-2013</p>
            <p>smileherd#gmail.com</p>
        </footer>
    </body>
</html>